.font-sans {
	font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.box-border {
	box-sizing: border-box;
}
.top-0 {
	top: 0px;
}
.right-0 {
	right: 0px;
}
.absolute {
	position: absolute;
}
.min-h-dvh {
	min-height: 100dvh;
}
.min-w-28 {
	min-width: 112px;
}
.w-full {
	width: 100%;
}
.max-w-96 {
	max-width: 384px;
}
.flex {
	display: flex;
}
.flex-col {
	flex-direction: column;
}
.items-center {
	align-items: center;
}
.justify-center {
	justify-content: center;
}
.gap-2 {
	gap: 8px;
}
.m-0 {
	margin: 0px;
}
.m-2 {
	margin: 8px;
}
.m-4 {
	margin: 16px;
}
.mt-1 {
	margin-top: 4px;
}
.mt-3 {
	margin-top: 12px;
}
.mb-1 {
	margin-bottom: 4px;
}
.mb-2 {
	margin-bottom: 8px;
}
.p-2 {
	padding: 8px;
}
.p-4 {
	padding: 16px;
}
.pt-8 {
	padding-top: 32px;
}
.px-4 {
	padding-left: 16px;
	padding-right: 16px;
}
.px-8 {
	padding-left: 32px;
	padding-right: 32px;
}
.py-1 {
	padding-top: 4px;
	padding-bottom: 4px;
}
.pb-4 {
	padding-bottom: 16px;
}
.border-0 {
	border-width: 0px;
}
.text-sm {
	font-size: 14px;
	line-height: 20px;
}
.text-base {
	font-size: 16px;
	line-height: 24px;
}
.text-3xl {
	font-size: 30px;
	line-height: 36px;
}
.font-normal {
	font-weight: 400;
}
.font-semibold {
	font-weight: 600;
}
.no-underline {
	text-decoration-line: none;
}
.text-black {
	color: #000000;
}
.text-white {
	color: #ffffff;
}
.text-red-600 {
	color: #dc2626;
}
.text-blue-600 {
	color: #2563eb;
}
.bg-white {
	background-color: #ffffff;
}
.bg-neutral-100 {
	background-color: #f5f5f5;
}
.bg-neutral-200 {
	background-color: #e5e5e5;
}
.bg-neutral-400 {
	background-color: #a3a3a3;
}
.bg-red-200 {
	background-color: #fecaca;
}
.bg-amber-200 {
	background-color: #fde68a;
}
.bg-green-200 {
	background-color: #bbf7d0;
}
.bg-blue-200 {
	background-color: #bfdbfe;
}
.bg-blue-500 {
	background-color: #3b82f6;
}
.hover\:bg-blue-600:hover {
	background-color: #2563eb;
}
.active\:scale-95:active {
	transform: scale(0.95);
}
.cursor-pointer {
	cursor: pointer;
}
.cursor-not-allowed {
	cursor: not-allowed;
}
.cursor-progress {
	cursor: progress;
}
.z-10 {
	z-index: 10;
}
@media (min-width: 640px) {
	.sm\:gap-4 {
		gap: 16px;
	}
	.sm\:m-8 {
		margin: 32px;
	}
}
@media (min-width: 768px) {
	.md\:m-4 {
		margin: 16px;
	}
}
@media (min-width: 1024px) {
	.lg\:m-16 {
		margin: 64px;
	}
}
@media (prefers-color-scheme: dark) {
	.dark\:text-white {
		color: #ffffff;
	}
	.dark\:text-red-400 {
		color: #f87171;
	}
	.dark\:text-blue-400 {
		color: #60a5fa;
	}
	.dark\:hover\:bg-blue-800:hover {
		background-color: #1e40af;
	}
	.dark\:bg-black {
		background-color: #000000;
	}
	.dark\:bg-neutral-900 {
		background-color: #171717;
	}
	.dark\:bg-neutral-800 {
		background-color: #262626;
	}
	.dark\:bg-neutral-600 {
		background-color: #525252;
	}
	.dark\:bg-red-800 {
		background-color: #991b1b;
	}
	.dark\:bg-amber-800 {
		background-color: #92400e;
	}
	.dark\:bg-green-800 {
		background-color: #166534;
	}
	.dark\:bg-blue-700 {
		background-color: #1d4ed8;
	}
	.dark\:bg-blue-800 {
		background-color: #1e40af;
	}
}
