.top-0 {
	top: 0px;
}
.right-0 {
	right: 0px;
}
.absolute {
	position: absolute;
}
.flex {
	display: flex;
}
.gap-2 {
	gap: 8px;
}
.m-2 {
	margin: 8px;
}
.p-4 {
	padding: 16px;
}
.bg-blue-200 {
	background-color: #bfdbfe;
}
.bg-green-200 {
	background-color: #bbf7d0;
}
.bg-amber-200 {
	background-color: #fde68a;
}
.bg-red-200 {
	background-color: #fecaca;
}
.z-10 {
	z-index: 10;
}
@media (min-width: 640px) {
	.sm\:gap-4 {
		gap: 16px;
	}
}
@media (min-width: 768px) {
	.md\:m-4 {
		margin: 16px;
	}
}
@media (prefers-color-scheme: dark) {
	.dark\:bg-blue-800 {
		background-color: #1e40af;
	}
	.dark\:bg-green-800 {
		background-color: #166534;
	}
	.dark\:bg-amber-800 {
		background-color: #92400e;
	}
	.dark\:bg-red-800 {
		background-color: #991b1b;
	}
}
